<h1>Login</h1>
<form action="/login" method="POST">
<input type="text" placeholder="user" name="username">
<input type="password" placeholder="password" name="password">
<button type="submit" class="btn btn-secondary">Submit</button>

</form>